<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperOFERTA viaje a Nueva Zelanda</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
</head>
<body>

    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
            <td colspan="5" align="center">
                <h2 style="color:red;">SuperOFERTA viaje a Nueva Zelanda</h2>
            </td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <th colspan="2">Hoteles 3 estrellas</th>
            <th rowspan="2">Hoteles 4 estrellas</th>
        </tr>
        <tr>
            <th>Sólo alojamiento</th>
            <th>Pensión completa</th>
        </tr>
        <tr>
            <th rowspan="2">1 semana</th>
            <td>Avión turista</td>
            <td>700 USD</td>
            <td>1000 USD</td>
            <td>1500 USD</td>
        </tr>
        <tr>
            <td>Avión preferente</td>
            <td>850 USD</td>
            <td>1150 USD</td>
            <td>1500 USD</td>
        </tr>
        <tr>
            <th rowspan="2">2 semanas</th>
            <td>Avión turista</td>
            <td>1300 USD</td>
            <td>1850 USD</td>
            <td>2600 USD</td>
        </tr>
        <tr>
            <td>Avión preferente</td>
            <td>1300 USD</td>
            <td>1850 USD</td>
            <td>2600 USD</td>
        </tr>
    </table>

</body>
</html>
